<!DOCTYPE html>
<html>
<head>
  <title>Stacksonstacks</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="navbar">
  <div class='navbarlink'><a href="questions">Questions</a></div>
  <div class='navbarlink'><a href="tags">Tags</a></div>
  <div class='navbarlink'><a href="users">Users</a></div>
  <div class='navbarlink'><a href="unanswered">Unanswered</a></div>
  <div class='navbarlink'><a href="questions/new">Ask a Question</a></div>
  <% if logged_in? %>
    <%= link_to 'Logout', logout_path, method: :delete %><br/>
    <%= link_to 'User Page', user_path(current_user) %>
  <% else %>
    <%= link_to 'login', login_path %>
  <% end %>
  </div>

<%= yield %>

</body>
</html>
