<!DOCTYPE html>
<html>
<head>
  <title>Stacksonstacks</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="stack-exchange-nav">
      <% if logged_in? %>
        <%= link_to 'Logout', logout_path, method: :delete %><br/>
        <%= link_to 'User Page', user_path(current_user) %>
      <% else %>
        <%= link_to 'Login', login_path %><br/>
        <%= link_to 'Sign Up', signup_path %>
      <% end %>
    </div>
  <div id="navbar">
    <ul>
      <li class="block">
        <a class="navlink" href="/">Home</a>
      </li>
      <li class="block">
        <a class="navlink" href="/questions">Questions</a>
      </li>
      <li class="block">
        <a class="navlink" href="/tags">Tags</a>
      </li>
      <li class="block">
        <a class="navlink" href="/users">Users</a>
      </li>
      <li class="block">
        <a class="navlink" href="/unanswered">Unanswered</a>
      </li>
      <li class="block last">
        <a class="navlink" href="/questions/new">Ask a Question</a>
      </li>
    </ul>
  </div>
  <br>
  </div>

<%= yield %>

</body>
</html>
