<!DOCTYPE html>
<html>
<head>
  <title>Stacksonstacks</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="topnav-stack-ex">
    <ul class="topnav-stack-ex">
      <li class="topnav-li">
        <a href="#">stackExchange</a>
        <ul class="topnav-stack-ex">
        <% if logged_in? %>
          <li class="topnav-li">
            <%= link_to 'Logout', logout_path, method: :delete, class: "navlink" %><br/>
          </li>
          <li class="topnav-li">
            <%= link_to 'User Page', user_path(current_user), class: "navlink" %>
          </li>
        <% else %>
          <li class="topnav-li">
            <%= link_to 'Login', login_path, class: "navlink" %><br/>
          </li>
          <li class="topnav-li">
            <%= link_to 'Sign Up', signup_path, class: "navlink" %>
          </li>
        <% end %>
        </ul>
      </li>
      <li class="topnav-li">
        help
      </li>
    </ul>
  </div>
  <div id="navbar">
    <ul>
      <li class="block">
        <a class="navlink" href="/">Home</a>
      </li>
      <li class="block">
        <a class="navlink" href="/questions">Questions</a>
      </li>
      <li class="block">
        <a class="navlink" href="/tags">Tags</a>
      </li>
      <li class="block">
        <a class="navlink" href="/users">Users</a>
      </li>
      <li class="block">
        <a class="navlink" href="/unanswered">Unanswered</a>
      </li>
      <li class="block last">
        <a class="navlink" href="/questions/new">Ask a Question</a>
      </li>
    </ul>
  </div>
  <br>
  </div>

<%= yield %>

</body>
</html>
