<h1>User Profile</h1>
<p>picture</p>

<% if session[:user_id] %>
  <%= link_to "Logout", logout_path, method: :delete %>
  <%= link_to "Update Profile", edit_user_path(current_user) %>
<% end %>
<br><br>

<h2>Questions:</h2>
<% @user.questions.each do |q| %>
  <p>Title:</p>  <%= q.title %> <br>
  <p>Body: </p>  <%= q.body %> <br><br>
<% end %>
<br><br>

<h2>Answers:</h2>
<% @user.answers.each do |a| %>
  <%= a.body %> <br>
<% end %>
<br><br>

<h2>Comments:</h2>
<% @user.comments.each do |c| %>
  <%= c.body %> <br>
<% end %>




