<li class="answeritem">
  <%= answer.body %>
  <%= link_to answer.user.username, user_path(answer.user.id) %>
  <span> answered <%= answer.created_at.strftime("%b %d \'%y at %H:%M")%></span>
  <% if user_is_current_user(answer) %>
    <%= link_to 'edit', edit_answer_path(answer.id) %>
    <%= link_to 'delete', answer_path(answer.id), method: :delete %>
  <% end %>
  <div>
    <ul>
    <% answer.comments.each do |comment| %>
      <li>
        <%= comment.body %> -
        <%= link_to comment.user.username, user_path(comment.user.id) %>
        <%= comment.created_at.strftime("%b %d \'%y at %H:%M") %>
      </li>
    <% end %>
    </ul>
  </div>
</li>
