<h3> <%= @question.title %> </h3>
<br>
<%= @question.body %>
<br>
<br>
<br>
<% @question.tags.each do |tag| %>
  Tags: <%= tag.name %>
<% end %>
<br>
<br>
<% if @question.user.id == session[:user_id] %>
  <%= link_to "Edit Question", edit_question_path(@question.id) %>
<% end %>
<br>
<br>
asked <%= @question.created_at.strftime("%b %d \'%y at %H:%M") %> by <%= @question.user.username %>
<br>
<br>
<br>
<%= form_for @comment do |f| %>
  <%= f.text_area :body, :rows => 5, :cols => 100 %>
  <%= f.hidden_field :commentable_id, value: @question.id %>
  <%= f.hidden_field :commentable_type, value: "question" %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.submit "Add Comment" %>
<% end %>
<br>
<br>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<ul>
<h4><%= @question.comments.count %> Comments</h4>
<% @comments.each do |comment| %>
  <li><%= comment.body %></li>
  <% if session[:user_id] == comment.user_id %>
    <%= link_to "Delete Comment", comment_path(comment.id), method: :delete %>
  <% end %>
<% end %>
</ul>
<br>
<br>
<h4> <%= @question.answers.count %> Answers</h4>
<ul>
<% @answers.each do |answer| %>
  <%= render partial: '/answers/answer', locals: {answer: answer} %>
<% end %>
</ul>
<br>
<h4> Your Answer </h4>
<%= form_for @answer do |f| %>
<%= f.text_area :body, :rows => 10, :cols => 100 %>
<%= f.hidden_field :question_id, value: @question.id %>
<%= f.hidden_field :user_id, value: @user.id %>
<%= f.submit "Post Your Answer" %>
<% end %>
