<div class="questionwrapper">
  <h3> <%= @question.title %> </h3>
  <br>
  <div class="questionelement questionvote">
    <%= render partial: '/votes/questionvote', locals: {question_answer: @question} %>
  </div>
  <div class="questionelement questionbody">
    <div class="question">
      <%= @question.body %>
    </div>
    <br>
    <br>
    <br>
    <div class="question">
      <% @question.tags.each do |tag| %>
        Tags: <%= tag.name %>
      <% end %>
    </div>
    <br>
    <br>
    <div class="question">
      <% if @question.user.id == session[:user_id] %>
        <%= link_to "Edit Question", edit_question_path(@question.id) %>
      <% end %>
      <% if @question.user.id == session[:user_id] && @question.answers.empty?%>
        <%= link_to "Delete Question", question_path(@question.id), method: :delete %>
      <% end %>
      <br>
      <br>
      asked <%= @question.created_at.strftime("%b %d \'%y at %H:%M") %> by <%= link_to @question.user.username, user_path(@question.user.id) %>
    </div>
  </div>
</div>
<br>
<br>
<h4><%= @question.comments.count %> Comments</h4>
<ul>
<% @comments.each do |comment| %>
  <li>
    <%= comment.body %>
    <%= link_to comment.user.username, user_path(comment.user.id) %>
    <%= comment.created_at.strftime("%b %d \'%y at %H:%M") %></li>
    <% if session[:user_id] == comment.user_id %>
      <%= link_to "Delete Comment", comment_path(comment.id), method: :delete %>
    <% end %>
  </li>
<% end %>
</ul>
<br>
<br>
<br>
<%= form_for @comment do |f| %>
  <%= f.text_area :body, :rows => 5, :cols => 100 %>
  <%= f.hidden_field :commentable_id, value: @question.id %>
  <%= f.hidden_field :commentable_type, value: "question" %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.submit "Add Comment" %>
<% end %>
<br>
<br>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<h4> <%= @question.answers.count %> Answers</h4>
<ul>
<% @answers.each do |answer| %>
  <%= render partial: '/answers/answer', locals: {answer: answer} %>
<% end %>
</ul>
<br>
<h4> Your Answer </h4>
<%= form_for @answer do |f| %>
<%= f.text_area :body, :rows => 10, :cols => 100 %>
<%= f.hidden_field :question_id, value: @question.id %>
<%= f.hidden_field :user_id, value: @user.id %>
<%= f.submit "Post Your Answer" %>
<% end %>
