<li>
  <div class="answeritem answervote">
    <%= render partial: '/votes/vote', locals: {question_answer: answer} %>
  </div>
  <div class="answeritem answerbody">
    <%= answer.body %>
    <%= link_to answer.user.username, user_path(answer.user.id) %>
    <span> answered <%= answer.created_at.strftime("%b %d \'%y at %H:%M")%></span>
    <% if user_is_current_user(answer) %>
      <%= link_to 'edit', edit_answer_path(answer.id) %>
      <%= link_to 'delete', answer_path(answer.id), method: :delete %>
    <% end %>
    <%= form_tag('/comments/new', :class => 'comment_for_answer', method: :get) do %>
    <%= hidden_field_tag 'answer_id', answer.id %>
    <%= submit_tag "add comment" %>
  <% end %>
  </div>
  <div class="answeritem">
    <ul>
    <% answer.comments.each do |comment| %>
      <li>
        <%= comment.body %> -
        <%= link_to comment.user.username, user_path(comment.user.id) %>
        <%= comment.created_at.strftime("%b %d \'%y at %H:%M") %>
      </li>
    <% end %>
    </ul>
  </div>

</li>
